*{
 box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
}

section {
  float: left;
  background-color: #999999;
  border: black;
}
#section1{
  
}
#section2{
  
}
#section3{
  
}

/********** Desktop view **********/
@media (min-width: 992px) {
  section {
    width: 25%;
  }
}


/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  #section1, #section2 {
    width: 50%;
  }
  #section3 {
    width: 100%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  section {
    width: 100%;
  }
}
